/* 1. exercice-1 */
.exercice-1 .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}  

/* 2. exercice-2 */
.exercice-2 .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

/* 3. exercice-3 */
.exercice-3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.exercice-3 .element-blue {
  order: -1;
  align-self: flex-start;
}

/* 4. exercice-4 */
.exercice-4 .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.exercice-4 .element-blue {
  order: 1;
}

.exercice-4 .element-pink {
  align-self: flex-start;
}

/* 5. exercice-5 */
.exercice-5 .container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

/* 6. exercice-6 */
.exercice-6 .container {
  display: flex;
  flex-flow: row wrap-reverse;
  align-content: space-between;
}

.exercice-6 .element-pink {
  flex-grow: 1;
}

.exercice-6 .element-yellow, .exercice-6 .element-grey {
  flex-grow: 2;
}

.exercice-6 .element-red{
  flex-grow: 1;
}

.exercice-6 .element-blue {
  flex-grow: 1;
}

.exercice-6 .element-green {
  flex-grow: 1;
}

/* 7. exercice-7 */
.exercice-7 .container {
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  align-content: center;
  justify-content: space-between;
}

/* 8. exercice-8 */
.exercice-8 .container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: baseline;
}

.exercice-8 .element-blue {
  flex-grow: 2;
}

.exercice-8 .element-pink {
  order: 1;
  flex-grow: 1;
} 

/* 9. exercice-9 */
.exercice-9 .container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

/* 10. exercice-10 */
.exercice-10 .container {
  display: flex;
}

.exercice-10 .element-red {
  margin: auto;
}
